/* Define custom font */
@font-face {
    font-family: myFont;
    src: url(./Poppins/Poppins-Black.ttf);
}

/* Header styles */
.header{
    padding-top: 10%;
}
.header:before
{
	content: '';
	position: absolute;
	width: 200px;
	height: 3px;
	background-color: rgb(143, 0, 0);
	top:  200px;
	left: 50%;
	transform: translateX(-50%);
}


/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #9abdff;
    margin: 0;
    padding: 0;
}

/* Main container styles */
.container {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #000000; /* Change heading color */
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

/* Question box styles */
.question_box {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

/* Individual question styles */
.questions {
    margin-bottom: 20px;
}

/* Option styles */
.option {
    display: inline-block;
    margin-right: 20px;
}

/* Label styles */
label {
    margin-left: 5px;
    color: #555; /* Change label color */
}

/* Input and textarea styles */
textarea,
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

/* Submit button styles */
input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: rgb(130, 106, 251);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Hover styles for submit button */
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Error and success message styles */
.error, .success {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* Error message styles */
.error {
    background-color: #ffcccc;
    color: #cc0000;
}

/* Success message styles */
.success {
    background-color: #ccffcc;
    color: #006600;
}
